<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :publish_year %>
    <%= form.number_field :publish_year %>
  </div>

	<%= form.label :author_id %>
  <%= content_tag :div, data: { controller: 'autocomplete', "autocomplete-url": authors_path } do %>
    <%= text_field_tag :author, book.author_name, data: { target: 'autocomplete.input' }, class: 'form-control' %>
    <%= form.hidden_field :author_id, data: { target: 'autocomplete.hidden' } %>
    <%= tag :ul, data: { target: 'autocomplete.results' }, class: 'autocomplete' %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
